

AAquad_firmware\AAquad_firmware.atsln
AAquad_firmware\AAquad_firmware\Debug
AAquad_firmware\AAquad_c++\AAquad_c++.atsln
AAquad_firmware_c++\AAquad_firmware\AAquad_c++\AAquad_c++\Debug
AAquad_firmware_c++\AAquad_firmware\AAquad_c++\AAquad_c++\AA_quad_c++.componentinfo.xml
AAquad_firmware_c++\AAquad_firmware\AAquad_c++\AAquad_c++\AAquad_c++.cppproj
AAquad_firmware_c++\.vs
AAquad_firmware\AAquad_c++\.vs